<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/lun"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoScript"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 应用程序不能将文件URI公开给其他应用程序，因为它们被认为是不安全的。因此，您需要使用FileProvider来生成一个内容URI，以确保在应用程序之间共享文件时安全。 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="external_files.file-provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource"/>
        </provider>
    </application>

</manifest>